
.card {
    margin-top: 230px;
    padding: 0;
    @media (max-width: 1770px) {
        padding: 0 20px;
    }
    &__title {
        @include title;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 30px;

        @media (max-width: 770px) {
            justify-content: center;
        }

        &-item {
            display: flex;
            flex-direction: column;
            background-color: #FFFFFF;
            max-width: 320px;
            height: 100%;

            @media (max-width: 400px) {
                max-width: 100%;
            }
        }

        &-inner {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding: 23px;
        }

        &-title {
            color: #171717;
            font-size: 14px;
            font-family: 'Mulish', sans-serif;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }

        &-body {
            color: #666;
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }

        &-link {
            display: inline-block;
            vertical-align: bottom;
            width: 100%;
            background: #171717;
            text-align: center;
            padding: 16px 0;
        }
    }

    &__btn {
        position: relative;
        display: block;
        margin: 60px auto 0 auto;
        padding: 21px 76px;
        transform: skew(-18deg);
        background-color: #C2AB81;
        color: #FFF;
        max-width: max-content;
        text-align: right;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;

        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 60px;
            top: -1px;
            right: -20px;
            transform: skew(17deg);
            background-image: url('../img/slash.svg');
        }
    }
}