<header class="header container">
    <ul class="header__list header__list--main">
        <li class="header__list-item header__list-item--logo undotted"><a href="#" class="header__list-link"><img
                    src="./img/logo.png" alt="logo" width="156" height="60" class="header__list-img"></a></li>
        <li class="header__list-item undotted"><a href="#" class="header__list-link">УСЛУГИ</a></li>
        <li class="header__list-item undotted"><a href="#" class="header__list-link">АБОНЕМЕНТЫ</a></li>
        <li class="header__list-item undotted"><a href="#" class="header__list-link">ПОЧЕМУ МЫ</a></li>
        <li class="header__list-item undotted"><a href="#" class="header__list-link">ОБОРУДОВАНИЕ</a></li>
        <li class="header__list-item undotted"><a href="#" class="header__list-link">АКЦИИ</a></li>
        <li class="header__list-item undotted"><a href="#" class="header__list-link">FAQ</a></li>
        <li class="header__list-item undotted"><a href="#" class="header__list-link">КОНТАКТЫ</a></li>
    </ul>
    <ul class="header__list">
        <li class="header__list-item undotted"><a href="#" class="header__list-link--phone"><img src="./img/phone.png"
                    alt="phone" class="header__list-img"></a></li>
        <li class="header__list-item undotted"><button type="button" class="header__list-btn">
                <span class="header__list-text">ОСТАВИТЬ ЗАЯВКУ</span>
            </button></li>
    </ul>
    <ul class="header__list--mobile header__list--mleft">
        <li class="header__list-item--mobile undotted"><button type="button" class="header__list-btn--mobile"></button>
        </li>
        <li class="header__list-item--mobile header__list-item--right undotted"><a href="#" class="header__list-link"><img src="./img/logo.png"
                    alt="logo" width="156" height="60" class="header__list-img"></a></li>
    </ul>
    <ul class="header__list--mobile header__list--right">
        <li class="header__list-item--mobile undotted"><a href="#" class="header__list-link--phone"><img
                    src="./img/phone.png" alt="phone" class="header__list-img"></a></li>
        <li class="header__list-item--mobile undotted"><button type="button" class="header__list-btn">
                <span class="header__list-text">ОСТАВИТЬ ЗАЯВКУ</span>
            </button></li>
    </ul>
</header>
<div class="burger">
    <ul class="burger__list">
        <li class="burger__list-item"><a href="#" class="burger__list-link">УСЛУГИ</a></li>
        <li class="burger__list-item"><a href="#" class="burger__list-link">АБОНЕМЕНТЫ</a></li>
        <li class="burger__list-item"><a href="#" class="burger__list-link">ПОЧЕМУ МЫ</a></li>
        <li class="burger__list-item"><a href="#" class="burger__list-link">ОБОРУДОВАНИЕ</a></li>
        <li class="burger__list-item"><a href="#" class="burger__list-link">АКЦИИ</a></li>
        <li class="burger__list-item"><a href="#" class="burger__list-link">FAQ</a></li>
        <li class="burger__list-item"><a href="#" class="burger__list-link">КОНТАКТЫ</a></li>
        <li class="burger__list-item burger__list-item--hidden"><a href="#" class="burger__list-link header__list-link--phone"><img src="./img/phone.png" alt="phone" class="header__list-img"></a></li>
        <li class="burger__list-item burger__list-item--hidden"><button type="button" class="header__list-btn header__list-btn--m">
            <span class="header__list-text">ОСТАВИТЬ ЗАЯВКУ</span>
        </button></li>
    </ul>
</div>